.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
  /* background: #e1e1e1; */
  /* background: linear-gradient(
    313deg,
    rgba(51, 43, 21, 0.03609366109725143) 0%,
    rgba(255, 255, 255, 0.09211607006083689) 49%,
    rgba(235, 29, 36, 0.04169590199360995) 100%
  ); */
}

.logo_container {
  width: 60vw;
  max-width: 800px;
  height: 40vh;
  position: relative;
}

.logo_image {
  object-fit: contain;
  object-position: center;
  position: relative;
}

.content_container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 60vw;
  max-width: 800px;
  background-color: #eb1d24;
  padding: 1rem;
}

.content_first {
  font-size: 24px;
  font-weight: 700;
  color: white;
  letter-spacing: 4px;
}

.medsoc_list {
  display: flex;
  flex-flow: row;
  gap: 4px;
}

.medsoc_item {
  font-size: 24px;
  color: #eb1d24;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border-radius: 100%;
}

.medsoc_item:hover {
  color: white;
  background-color: #eb1d24;
}

.medsoc_icon {
}
